<section id="noticias" class="padded">
  <div class="container">
    <h2>Noticias</h2>
    <div class="row">
      <!-- article*3.col>h3{Noticia $}+p*2>lorem32 -->
      <article class="col">
        <h4>Aerolíneas anuncian planes para aumentar la capacidad de vuelos nacionales e internacionales</h4>
        <p>Los planes de reactivación económica y la creciente demanda de viajes están llevando a varias aerolíneas a
          expandir su capacidad de vuelos. Esto significa más opciones para los viajeros y posiblemente precios más
          bajos. </p>
        <p> La noticia podría incluir detalles sobre qué aerolíneas planean expandir su capacidad, qué rutas planean
          agregar y cuándo se implementarán estos cambios.</p>
      </article>
      <article class="col">
        <h4>Nuevas atracciones turísticas abren en destinos populares</h4>
        <p>Muchos destinos turísticos populares están añadiendo nuevas atracciones para atraer a más turistas. La
          noticia podría presentar algunas de estas nuevas atracciones, como museos, parques temáticos, paseos en globo
          aerostático, etc.</p>
        <p>ambién se podrían incluir detalles sobre los destinos específicos y cómo estos lugares están mejorando la
          experiencia de viaje para los visitantes.</p>
      </article>
      <article class="col">
        <h4>Consejos para viajar de manera segura durante la pandemia</h4>
        <p>A medida que la pandemia continúa, muchos viajeros están preocupados por su seguridad al viajar. La noticia
          podría proporcionar consejos y recomendaciones sobre cómo viajar de manera segura, incluyendo información
          sobre las pautas de salud y seguridad en diferentes países y cómo prepararse para un viaje en medio de la
          pandemia.</p>
        <p>También se podrían incluir detalles sobre las últimas actualizaciones sobre las restricciones de viaje y las
          políticas de cancelación de viajes debido a la pandemia.</p>
      </article>
    </div>
  </div>
</section>