<section class="padded">
  <div class="container">
    <!-- Modal Insertar-->
    <div class="modal fade" id="insertarDirector" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Director</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form [formGroup]="directoresInsertForm" (ngSubmit)="directoresInsert(directoresInsertForm.value)">
            <div class="modal-body">
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="Nombre" formControlName="nombres">
              </div>
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="Peliculas" formControlName="peliculas">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Modal Insertar-->


    <!-- Modal Modificar-->
    <div class="modal fade" id="modificarDirector" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Director</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form [formGroup]="directoresUpdateForm" (ngSubmit)="directoresUpdate(directoresUpdateForm.value)"
            *ngIf="directorActualizar">
            <div class="modal-body">
              <div class="mb-3">
                <input type="text" class="form-control" formControlName="codigo" readonly
                  [(ngModel)]="directorActualizar!!.iddirector">
              </div>
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="Nombre" formControlName="nombres"
                  [(ngModel)]="directorActualizar!!.nombres">
              </div>
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="Peliculas" formControlName="peliculas"
                  [(ngModel)]="directorActualizar!!.peliculas">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Modal Modificar-->


    <!-- Modal Eliminar-->
    <div class="modal fade" id="eliminarDirector" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Director</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form (ngSubmit)="directoresDelete()" *ngIf="directorEliminar">
            <div class="modal-body">
              ¿Está seguro que desea eliminar el director?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Eliminar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Modal Eliminar-->

    <div class="mb-3">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#insertarDirector">Nuevo Director</button>
    </div>
    <table class="table table-bordered table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Codigo</th>
          <th>Director</th>
          <th>Peliculas</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaDirectores">
          <td>{{item.iddirector}}</td>
          <td>{{item.nombres}}</td>
          <td>{{item.peliculas}}</td>
          <td class="text-center"><i class="bi bi-pencil-fill btn btn-warning" data-bs-toggle="modal"
              data-bs-target="#modificarDirector" title="actualizar" (click)="editarDirector(item)"></i> </td>
          <td class="text-center"><i class="bi bi-x-lg btn btn-danger" data-bs-toggle="modal"
              data-bs-target="#eliminarDirector" title="eliminar" (click)="eliminarDirector(item)"></i> </td>

        </tr>
      </tbody>

    </table>
  </div>

</section>